<template lang="pug">
    div
        h1 {{ msg }}
            p.
                For a guide and recipes on how to configure / customize this project,
                check out the 
                #[a(href="https://cli.vuejs.org" target="_blank" rel="noopener") vue-cli documentation].
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class HelloWorld extends Vue {
	@Prop() private msg!: string;
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
	margin: 40px 0 0;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	display: inline-block;
	margin: 0 10px;
}

a {
	color: #42b983;
}
</style>
