<template lang="pug">
    v-list
        person-list-item(v-for="(item, index) in collection" :model="item" :key="`person-${index}`")
</template>

<script lang="ts">
import {Component, Mixins} from 'vue-property-decorator';
import {PersonCollection, PersonCollectionFiler} from '@/mc';
import {CollectionMixin} from '@/mixins/CollectionMixin';
import PersonListItem from '@/components/person/PersonListItem.vue';

@Component({
	components: {
		PersonListItem
	}
})
export default class PersonList extends Mixins(
	CollectionMixin<PersonCollection, PersonCollectionFiler>(PersonCollection)
) {}
</script>
