<template lang="pug">
    v-list-item
        v-list-item-avatar
            v-img(:src="model.image")
        v-list-item-content
            v-list-item-title {{model.firstName}} ({{model.gender}})
            v-list-item-subtitle {{model.address}}
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import {PersonModel} from '@/mc';

@Component({})
export default class PersonListItem extends Vue {
	@Prop({type: PersonModel, required: true}) readonly model: PersonModel;
}
</script>
