<template lang="pug">
    v-virtual-scroll(:items="collection.getItems()" height="300" item-height="64")
        template(v-slot:default="{ item }")
            post-list-item(:model='item' :key='item.id')
</template>

<script lang="ts">
import {Component, Mixins} from 'vue-property-decorator';
import {PostCollection} from '@/mc/PostCollection';
import PostListItem from '@/components/post/PostListItem.vue';
import {CollectionMixin} from '@/mixins/CollectionMixin';

@Component({
	components: {PostListItem}
})
export default class PostList extends Mixins(CollectionMixin(PostCollection)) {}
</script>
