<template lang="pug">
    v-list-item
        v-list-item-avatar
            | # {{model.id}}
        v-list-item-content
            v-list-item-title {{model.title}}
            v-list-item-subtitle {{model.body}}
        v-list-item-action
            v-checkbox(v-model='model.completed' :true-value='true' readonly)
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import {PostModel} from '@/mc/PostModel';

@Component({})
export default class PostListItem extends Vue {
	@Prop(PostModel) readonly model: PostModel;
}
</script>
