<template lang="pug">
    v-app#inspire
        v-navigation-drawer(v-model="drawer" app)
        v-app-bar(app color="primary" dark)
            v-app-bar-nav-icon(@click.stop="drawer = !drawer")
            v-toolbar-title Vue boilerplate: {{version}}
        v-main
            v-container.fill-height.flex.align-content-start(fluid)
                person-list
                div {{$t('sample')}}
                div {{$t('App')}}
                v-icon(large) mdi-codepen
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {AppStoreModule} from '@/store';
import PersonList from '@/components/person/PersonList.vue';

@Component({
	components: {
		PersonList
	}
})
export default class App extends Vue {
	drawer = false;

	get version(): string {
		return AppStoreModule.version;
	}
}
</script>

<style lang="scss"></style>
